// .isActive{
//     color: blue;
//     font-size: 60px;
// }
// .inActive{
//     color: red;
//     font-size: 60px;
// }


.loginpage{

    background-color: skyblue;
    width:  30%;
    height: 200px;
    margin-top: 10%;
    margin-left:35%;
    
    
}