<!-- <p>aboutus works!</p> -->

<!-- <div>
    
    <div class="aboutus"><li><a >component1</a></li></div>
    <div class="contactus"><li><a routerLink="component2">component2</a></li></div>
    
</div> -->


    <p>Hi am Aboutus</p>
    <div class="headerbtn">
<div class="aboutus"><button routerLink="component1">Aboutus</button></div>
<div class="contactus"><button routerLink="component2">Contactus</button></div>

<!-- <div><router-outlet></router-outlet></div> -->
<p (click)="navigateToComponoent1()">aboutus</p>
</div>
