.headerbtn{

    background-color: bisque;
    color: black;
    display: flex;
    margin-top: 5px;
    padding: 30px;
    gap: 20px; 
}
button{
    border-radius: 20px;
    cursor: pointer;
    border-color: black;
    background-color:white;
}